<div class="container relative px-3 box-shadow-light">
  <figure id="employerLogoContainer" class="text-center mb-3">
    <img [src]="helpers.getEmployerLogo(job.employer)" class="circle-logo box-shadow-light">
  </figure>
  <p class="h3 text-center bold">{{ job.title }}</p>
  <p class="h5 text-center grey-text mb-3">{{ job.employer.name }}</p>
  <div id="iconDetails" class="row justify-content-center">
    <div class="col-12 col-md">
      <img src="/assets/img/icons/location-blue.svg" class="align-middle icon">
      <span>{{ job.location }}</span>
    </div>
    <div class="col-12 col-md mx-3 my-3 my-md-0">
      <img src="/assets/img/icons/timelapse-blue.svg" class="align-middle icon">
      <span>{{ job.type | uppercase |  t }}</span>
    </div>
    <div class="col-12 col-md">
      <img src="/assets/img/icons/dollar-blue.svg" class="align-middle icon">
      <span>{{ job.minSalary }} - {{ job.maxSalary }} {{ job.salaryMethod | uppercase | t }}</span>
    </div>
  </div>
  <div class="my-3">{{ job.description }}</div>
  <div>
    <p class="h5 bold">{{ 'REQUIREMENTS' | t }}:</p>
    <div>{{ job.requirements }}</div>
  </div>
  <div id="jobActions" class="d-flex justify-content-center justify-content-md-end mt-3 py-3">
    <img src="/assets/img/decline.svg" class="mr-5 decline-icon">
    <img src="/assets/img/accept.svg" class="accept-icon">
  </div>
</div>

