<p class="mat-title">{{ t('CHANGE_PASSWORD') }}</p>
<form #f="ngForm" (ngSubmit)="submit(f.valid)">
  <div class="form-group">
    <label class="grey bold">{{ t('NEW_PASSWORD') }}</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="form-group">
    <label class="grey bold">{{ t('REPEAT_PASSWORD') }}</label>
    <input type="password" class="form-control" name="repeatPassword">
  </div>
  <button type="submit" class="mt-2 chip-button chip-blue fade-effect">{{ t('SAVE') }}</button>
</form>
