<div id="menu" [ngClass]="{ container: pageWidth > 768 }">
  <div class="d-flex justify-content-between align-items-center">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="/assets/img/logo.svg">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="">{{ t('HOME') }}</a>
          </li>
          <li class="nav-item" *ngFor="let link of activeMenuLinks">
            <a class="nav-link" [routerLink]="'/' + link">{{ t(link | uppercase) }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="hidden-sm-down header-actions" *ngIf="pageWidth > 768">
      <mat-form-field class="select-container mr-3 ml-3">
        <img matPrefix [src]="'/assets/img/flags/' + lang + '.png'">
        <mat-select (selectionChange)="changeLang()" [(ngModel)]="lang">
          <mat-option value="he">
            <img src="/assets/img/flags/he.png">
            <span>עברית</span>
          </mat-option>
          <mat-option value="en">
            <img src="/assets/img/flags/en.png">
            <span>English</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="mx-2" *ngIf="!user">
        <i class="fa fa-user ml-1 link"></i>
        <a routerLink="/login" class="black">{{ t('SIGN_IN') }} /</a>
        <a routerLink="/register" class="black">{{ t('REGISTER') }}</a>
      </span>
      <mat-chip class="mx-3 chip-blue toggle-effect hidden-sm-down" [routerLink]="['/jobs', 'post']">{{ t('POST_JOB') }}</mat-chip>
      <ng-container *ngIf="user">
        <span class="pointer" [matMenuTriggerFor]="userMenu">
          <span>{{ t('MY_ACCOUNT') }}</span>
          <i class="fa fa-chevron-down ml-1"></i>
        </span>
        <mat-menu #userMenu="matMenu">
          <a mat-menu-item routerLink="/profile">{{ t('MY_PROFILE') }}</a>
          <a mat-menu-item routerLink="/settings">{{ t('SETTINGS') }}</a>
          <a mat-menu-item>{{ t('SUBSCRIPTION') }}</a>
          <a mat-menu-item>{{ t('HELP') }}</a>
          <a mat-menu-item (click)="logout()">{{ t('LOGOUT') }}</a>
        </mat-menu>
      </ng-container>
    </div>
    <div class="hidden-md-up">
      <mat-chip class="ml-3 chip-button chip-blue toggle-effect" [routerLink]="['/jobs', 'post']">{{ t('POST_JOB') }}</mat-chip>
      <button *ngIf="user" class="navbar-toggler navbar-toggler-right ml-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="hidden-md-up header-actions" *ngIf="pageWidth <= 768">
    <mat-form-field class="select-container mr-3 ml-3">
      <img matPrefix [src]="'/assets/img/flags/' + lang + '.png'">
      <mat-select (selectionChange)="changeLang()" [(ngModel)]="lang">
        <mat-option value="he">
          <img src="/assets/img/flags/he.png">
          <span>עברית</span>
        </mat-option>
        <mat-option value="en">
          <img src="/assets/img/flags/en.png">
          <span>English</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="mx-2" *ngIf="!user">
        <i class="fa fa-user ml-1 link"></i>
        <a routerLink="/login" class="black">{{ t('SIGN_IN') }} /</a>
        <a routerLink="/register" class="black">{{ t('REGISTER') }}</a>
      </span>
    <mat-chip class="ml-3 chip-blue toggle-effect hidden-sm-down" [routerLink]="['/jobs', 'post']">{{ t('POST_JOB') }}</mat-chip>
  </div>
</div>
<div id="pageTitle">
  <h1 id="pageTitleHeading" *ngIf="pageTitle !== 'home'">{{ t(pageTitle | uppercase) }}</h1>
  <div id="pageTitleContent" *ngIf="pageTitle === 'home'">
    <h1 class="mb-3">{{ t('EASIEST_WAY_S') }}</h1>
    <h2 class="mb-5">{{ t('WE_OFFER') }} 12000 {{ t('JOBS_VACATION_S') }}</h2>
    <div id="mainSearchContainer">
      <div class="main-search-container-input">
        <i class="fa fa-search"></i>
        <input [placeholder]="t('JOB_KEYWORD')">
      </div>
      <div class="main-search-container-input d-flex align-items-center">
        <i class="fa fa-globe"></i>
        <mat-select [placeholder]="t('LOCATION')">
          <mat-option>a</mat-option>
          <mat-option>b</mat-option>
          <mat-option>c</mat-option>
        </mat-select>
      </div>
      <button type="submit">{{ t('SEARCH') }}</button>
    </div>
  </div>
</div>
