.navbar {
  padding: 0;
}

#pageTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url('/assets/img/page-title.jpg');
}

#pageTitle::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background-color: rgba(44, 55, 62, 0.8);
}

#pageTitleHeading, #pageTitleContent {
  color: #fff;
  z-index: 2;
}

#pageTitleHeading {
  padding: 15px;
}

#pageTitleContent {
  width: 100%;
  padding: 120px 0;
  text-align: center;
}

#pageTitleContent h1 {
  font-size: 48px;
}

#pageTitleContent h2 {
  font-size: 24px;
}

#mainSearchContainer {
  display: flex;
  justify-content: center;
}

.main-search-container-input {
  background-color: #fff;
  height: 45px;
  padding: 0 18px;
}

.main-search-container-input > i {
  color: #008def;
  font-size: 18px;
}

.main-search-container-input > input, .main-search-container-input > .mat-select {
  height: 100%;
  width: 250px;
  border: none;
  outline: none;
}

.main-search-container-input ::-webkit-input-placeholder, .main-search-container-input ::ng-deep .mat-select-placeholder {
  color: #000;
}

.main-search-container-input ::ng-deep .mat-select-trigger {
  height: 100%;
}

.main-search-container-input ::ng-deep .mat-select-value {
  vertical-align: middle;
}

#mainSearchContainer button {
  width: 115px;
  text-transform: uppercase;
  background-color: #008def;
  color: #fff;
  border: none;
}

@media (max-width: 768px) {
  .navbar-toggler {
    position: static;
    padding: 8px 10px;
    border: 2px solid #008def;
    border-radius: 6px;
  }

  .navbar-toggler > i {
    color: #008def;
  }

  #mobileHeader {
    display: flex;
    padding: 0 18px;
    text-align: center;
    align-items: center;
  }

  #mobileHeader > * {
    width: 50px;
  }

  #mobileHeader > .logo-container {
    flex-grow: 1;
  }

  #mobileMenu {
    position: fixed;
    top: 0;
    height: 100vh;
    background: linear-gradient(45deg, rgb(66,132,237) 0%, rgb(65,115,190) 10%, rgb(64,97,142) 100%);
    box-shadow: 0 5px 12.5px 0.5px rgba(0, 0, 0, 0.35);
    z-index: 9999999;
  }

  .ltr :host #mobileMenu {
    left: 0;
  }

  .rtl :host #mobileMenu {
    right: 0;
  }

  #mobileMenu li {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #mobileMenu li > a {
    color: #fff;
    font-size: 22px;
  }

  #mobileMenu li.active {
    background-color: #4a5e8e;
  }

  .rtl :host #mobileMenu li.active {
    border-right: 5px solid #fff;
  }

  .ltr :host #mobileMenu li.active {
    border-left: 5px solid #fff;
  }

  #hideMobileMenu {
    position: absolute;
    top: 5px;
    width: 40px;
  }

  .rtl :host #hideMobileMenu {
    left: 25px;
  }

  .ltr :host #hideMobileMenu {
    right: 25px;
  }

  .shadow-gradient {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999998;
  }

  #pageTitle, #pageTitle:before {
    background: #fff;
  }
}
