* {
  box-sizing: border-box;
}

div {
  display: block;
}

a {
  margin-top: 2px;
  text-decoration: none;
  float: right;
}

a.rtl {
  float: left;
}

a#middle {
  margin: 0px;
  float: none;
}

.section-padding {
  padding: 80px 0;
  background-color: #F5F4F5;
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
  font-family: 'Varela Round', sans-serif;
}

.user-account, .user-account a {
  color: #bbc0d4;
  overflow: hidden;
  box-sizing: border-box;
}

.user-account, .user-account a:hover {
  color: #008def;
}

.account-content {
  font-size: 14px;
  padding: 35px 30px;
  border-radius: 4px;
  background-color: #fff;
}

form {
  display: block;
  margin-top: 0em;
}

.form-control {
  font-size: 14px;
  border-radius: 30px;
  margin-bottom: 30px;
  background-color: #fcfcfc;
}

.form-control:focus {
  border-color: #f26522;
}

/*@media (min-width: 1200px) {*/
  /*.col-md-offset-4 {*/
    /*margin-left: 33.33333333%;*/
  /*}*/

  /*.col-md-4 {*/
    /*width: 33.33333333%;*/
  /*}*/
/*}*/

.user-option {
  overflow: hidden;
  margin-bottom: 25px;
}

.checkbox {
  float: left;
  margin: 0;
}

.checkbox[_ngcontent-c4] label[_ngcontent-c4] {
  padding-left: 4px !important;
}

.checkbox, .radio {
  position: relative;
}

.checkbox label {
  padding-left: 30px;
}

.checkbox label:before {
  position: absolute;
  color: #bbc0d4;
  content: "";
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #bbc0d4;
  border-radius: 100%;
  background-color: #fcfcfc;
}

.forgot-password {
  float: right;
}

.user-account {
  color: #bbc0d4 !important;
}

.user-account .btn {
  width: 100%;
  padding: 12px 20px 8px;
  margin-bottom: 25px;
  text-transform: uppercase;
  background-color: #008def;
  border-color: #008def;
  border-radius: 30px;
}

.text-center {
  text-align: center;
}

.footer-top {
  background-color: rgb(255, 255, 255);
  padding: 80px 0px;
}

.footer-bottom {
  padding: 25px 0px 15px;
}

.pull-right {
  float: right;
}




