* {
  box-sizing: border-box;
}

div {
  display: block;
}

a {
  margin-top: 2px;
  text-decoration: none;
  float: right;
}

a.rtl {
  float: left;
}

a#middle {
  margin: 0px;
  float: none;
}


#submit:hover {
  width: 100%;
  color: #008def;
  background-color: white;
  border-color: #008def;
  border-radius: 30px;
  transition: width 2s;
  -webkit-transition: width 2s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}

.section-padding {
  padding: 80px 0;
  background-color: #F5F4F5;
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
  font-family: 'Varela Round', sans-serif;
}

.user-account, .user-account a {
  color: #bbc0d4;
  overflow: hidden;
  box-sizing: border-box;
}

.user-account, .user-account a:hover {
  color: #008def;
}

.account-content {
  font-size: 14px;
  padding: 35px 30px;
  border-radius: 4px;
  background-color: #fff;
}

form {
  display: block;
  margin-top: 0em;
}

.form-control {
  font-size: 14px;
  border-radius: 30px;
  margin-bottom: 30px;
  background-color: #fcfcfc;
}

.form-control:focus {
  border-color: #f26522;
}

.user-option {
  overflow: hidden;
  margin-bottom: 25px;
}

.checkbox {
  float: left;
  margin: 0;
}

.checkbox[_ngcontent-c4] label[_ngcontent-c4] {
  padding-left: 4px !important;
}

.checkbox, .radio {
  position: relative;
}

.checkbox label {
  padding-left: 30px;
}

.checkbox label:before {
  position: absolute;
  color: #bbc0d4;
  content: "";
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #bbc0d4;
  border-radius: 100%;
  background-color: #fcfcfc;
}

.forgot-password {
  float: right;
}

.user-account {
  color: #bbc0d4 !important;
}

.user-account .btn {
  width: 100%;
  padding: 12px 20px 8px;
  margin-bottom: 25px;
  text-transform: uppercase;
  background-color: #008def;
  border-color: #008def;
  border-radius: 30px;
}

.text-center {
  text-align: center;
}

.footer-top {
  background-color: rgb(255, 255, 255);
  padding: 80px 0px;
}

.footer-bottom {
  padding: 25px 0px 15px;
}

.pull-right {
  float: right;
}

:host /deep/ .mat-checkbox-frame {
  border-radius: 10px !important;
  border-color: #CDCDDC;
}

:host /deep/ .mat-checkbox-background {
  border-radius: 10px !important;
}

:host /deep/ .mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: #008DEF;
}

.user-account {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .user-account {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 380px;
    margin: 0px 25%;
  }
}

@media screen and (min-width: 992px) {
  .user-account {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 380px;
    margin: 0px 30%;
  }

  .m-auto {
    position: relative;
    margin: 5% 33%;
  }
}

@media screen and (min-width: 1200px) {
  .user-account {
    margin: 0px 35%;
    float: left;
    width: 33.333333%;
  }

  .m-auto {
    position: relative;
    margin: 5% 33%;
  }
}

.m-auto {
  position: relative;
  margin: 5% 33.333333%;
}


