<header>
  <div id="menu" class="container">
    <div class="row">
      <nav class="navbar navbar-toggleable-md navbar-light col-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/">
          <img class="logo" src="/assets/img/logo.svg">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">{{ t('HOME_PAGE') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">{{ t('POST_A_JOB') }}</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-6">
        <mat-form-field class="select-container mr-3 ml-3">
          <img matPrefix [src]="'/assets/img/flags/' + lang + '.png'">
          <mat-select (selectionChange)="changeLocale()" [(ngModel)]="lang">
            <mat-option value="he">
              <img src="/assets/img/flags/he.png">
              <span>עברית</span>
            </mat-option>
            <mat-option value="en">
              <img src="/assets/img/flags/en.png">
              <span>English</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div id="pageTitle">
    <div id="pageTitleContent">{{ t('EASIEST_WAY_S') }}</div>
  </div>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>

