<div class="container">
  <div id="searchContainer" class="d-flex p-3 my-4 text-center box-shadow-light">
    <div>
      <span class="grey-text">{{ 'CATEGORY' | t }}:</span>
      <span class="bold">Designer</span>
    </div>
    <div>
      <span class="grey-text">{{ 'POSITION' | t }}:</span>
      <span class="bold">Service Associate</span>
    </div>
    <div>
      <span class="grey-text">{{ 'ORG_TYPE' | t }}:</span>
      <span class="bold">Private</span>
    </div>
    <div>
      <span class="grey-text">{{ 'LOCATION' | t }}:</span>
      <span class="bold">Designer</span>
    </div>
    <div>
      <span class="grey-text">{{ 'SALARY' | t }}:</span>
      <span class="bold">0-50k</span>
    </div>
  </div>
  <div class="d-flex p-4 mt-4 box-shadow-light job" *ngFor="let i of [1,2,3]">
    <figure>
      <img src="/assets/img/jobs/1.png">
    </figure>
    <div>
      <p class="h4">Retail Store Service</p>
      <p class="h5 grey-text">WalMart, Inc</p>
    </div>
    <ul>
      <li>
        <img src="/assets/img/icons/location-blue.svg" class="align-middle icon">
        <span>Miami, FL</span>
      </li>
      <li class="my-2">
        <img src="/assets/img/icons/timelapse-blue.svg" class="align-middle icon">
        <span>Miami, FL</span>
      </li>
      <li>
        <img src="/assets/img/icons/dollar-blue.svg" class="align-middle icon">
        <span>15 Per Hour</span>
      </li>
    </ul>
    <div class="d-flex">
      <div class="mr-5 decline-icon">
        <img src="/assets/img/x-shape.png">
      </div>
      <div class="accept-icon">
        <img src="/assets/img/v-shape.png">
      </div>
    </div>
  </div>
</div>
