<div class="container">
  <p class="h3 bold">{{ 'SEARCH_RESULTS' | t }}</p>
  <p class="h6 mb-4 bold">{{ jobs.length }} {{ 'RESULTS' | t }}</p>
  <div id="searchContainer" class="d-flex align-items-center hidden-md-down">
    <div>
      <span class="grey-text">{{ 'CATEGORY' | t }}:</span>
      <span class="bold">Designer</span>
    </div>
    <div>
      <span class="grey-text">{{ 'POSITION' | t }}:</span>
      <span class="bold">Service Associate</span>
    </div>
    <div>
      <span class="grey-text">{{ 'LOCATION' | t }}:</span>
      <span class="bold">Designer</span>
    </div>
    <div>
      <span class="grey-text">{{ 'SALARY' | t }}:</span>
      <span class="bold">0-50k</span>
    </div>
  </div>
  <div class="relative hidden-sm-up mb-4">
    <div class="hidden-sm-up p-2 input-container box-shadow-light">
      <input type="text" [placeholder]="('SEARCH_JOBS' | t) + '...'">
      <i class="fa fa-search"></i>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <span class="grey-text f-14">{{ jobs.length }} {{ 'RESULTS' | t }}</span>
      <div (click)="setMobileFiltersState()" class="pointer">
        <span class="align-middle f-14 logo-black-text">{{ 'FILTER' | t }}</span>
        <i class="fa fa-chevron-down f-14 logo-black-text"></i>
      </div>
    </div>
    <div id="mobileFilters" [@fade]="mobileFiltersState">
      <div class="arrow-up"></div>
      <div id="mobileFiltersContent">
        <div id="mobileFiltersTitle" class="h5 bold py-3 px-2">{{ 'FILTER_BY' | t }}:</div>
        <ul class="px-2">
          <li>
            <p class="bold">{{ 'CATEGORY' | t }}:</p>
            <p class="grey-text">Designer</p>
          </li>
          <li>
            <p class="bold">{{ 'POSITION' | t }}:</p>
            <p class="grey-text">Service Associate</p>
          </li>
          <li>
            <p class="bold">{{ 'LOCATION' | t }}:</p>
            <p class="grey-text">Designer</p>
          </li>
          <li>
            <p class="bold">{{ 'SALARY' | t }}:</p>
            <p class="grey-text">0-50k</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngFor="let job of jobs" class="mb-3">
    <app-job-list-item [job]="job">
      <ng-container jobActions>
        <img src="/assets/img/decline.svg" class="mr-5 decline-icon">
        <img src="/assets/img/accept.svg" class="accept-icon">
      </ng-container>
    </app-job-list-item>
  </div>
</div>
