<div class="container">
  <div class="d-flex justify-content-between mb-5 input-row">
    <span class="bold">{{ 'SHOW_MY_CV_PUBLIC' | t }}</span>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <div class="d-flex justify-content-between mb-5 input-row">
    <span class="bold">{{ 'NOTIFICATIONS' | t }}</span>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <div class="d-flex justify-content-between input-row">
    <span class="bold">{{ 'LOCATION_SERVICES' | t }}</span>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <div class="text-center">
    <button class="btn btn-danger bold">{{ 'DELETE_ACCOUNT' | t }}</button>
  </div>
</div>
