@font-face {
  font-family: 'Varela Round';
  src: url('./assets/fonts/VarelaRound-Regular.ttf');
}

* {
  font-family: 'Varela Round', sans-serif !important;
}

.fa {
  font-family: FontAwesome !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

textarea {
  height: 225px;
  border: 1px solid rgba(0,0,0,.54) !important;
}

input[type=file] {
  display: none;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.image-upload {
  position: relative;
  cursor: pointer;
}

.image-upload > .remove-image {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  padding: 5px;
  background-color: #fff;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.card-title {
  font-weight: bold;
}

.btn {
  cursor: pointer;
}

.logo {
  height: 55px;
  width: auto;
}

.link {
  color: #008def;
}

.section-title {
  color: #505050;
  font-size: 24px;
  text-align: Center;
  text-transform: uppercase;
}

.mat-chip {
  background-color: #fff !important;
  padding: 8px 20px 5px;
  border-radius: 40px;
  cursor: pointer !important;
}

.chip-blue {
  color: #fff !important;
  background-color: #008def !important;
  border: 1px solid #008def;
}

.mat-chip.toggle-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  vertical-align: middle;
}

.mat-chip.toggle-effect:before {
  position: absolute;
  content: "";
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transition: 0.5s;
}

.mat-chip.toggle-effect:hover {
  color: #008def !important;
}

.mat-chip.toggle-effect:hover::before {
  right: 0;
}

.mat-chip.fade-effect:hover {
  background-color: #008def !important;
  color: #fff;
}

/*--- Material ---*/

.mat-input-element {
  padding: 8px;
  border: 1px solid rgba(0,0,0,.54);
}

.mat-form-field-type-mat-select .mat-form-field-label {
  width: 100% !important;
}

.mat-dialog-title {
  font-size: 26px;
}

.ltr .mat-form-field-prefix {
  margin-right: 8px !important;
}

.textarea .mat-form-field-label {
  top: 27px !important;
  left: -6px !important;
}
