<div class="container">
  <a routerLink=".." class="d-block mb-3">
    <i class="fa fa-chevron-right p-icon"></i>
    <span>{{ t('BACK_TO_CANDIDATES') }}</span>
  </a>
  <div class="box-shadow p-3">
    <div class="row">
      <div class="col-md-9">
        <p class="h5 mb-5 bold">יוסי לוי</p>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ t('FULL_NAME') }}:</span>
            <span>יוסי לוי</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ t('STATUS') }}:</span>
            <span>רווק</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ t('CANDIDATE_FOR') }}:</span>
            <span>מנהל\ת תיק לקוחות</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ t('CITY_OF_RESIDENCE') }}:</span>
            <span>תל אביב</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ t('IDENTITY_NUMBER') }}:</span>
            <span>314859847</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ t('AVAILABILITY') }}:</span>
            <span>מיידית</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ t('BIRTH_DATE') }}:</span>
            <span>21/03/1987</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ t('CITY_OF_RESIDENCE') }}:</span>
            <span>טרם נקבע</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ t('GENDER') }}:</span>
            <span>זכר</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ t('PROFESSIONAL_EXPRIENCE') }}:</span>
            <span>מנהל צוות מכירות בחברת סלולר</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ t('PHONE') }}:</span>
            <span>054-4584597</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ t('EDUCATION') }}:</span>
            <span>תואר ראשון במנהל עסקים</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <span class="bold">{{ t('EMAIL') }}:</span>
            <span>yossi23@gmail.com</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ t('MILITARY_SERVICE') }}:</span>
            <span>לא צוין</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <img src="/assets/img/icons/user.svg" class="w-50 mt-3 mb-5 mx-auto">
        <div class="d-flex mb-3">
          <div class="w-50 pointer">
            <img src="/assets/img/icons/calendar-page-empty.svg" class="icon">
            <p class="grey">{{ t('SET_INTERVIEW') }}</p>
          </div>
          <div class="w-50 pointer">
            <img src="/assets/img/icons/dark-eye.svg" class="icon">
            <p class="grey">{{ t('WATCH_CV') }}</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-50 pointer">
            <img src="/assets/img/icons/download.svg" class="icon">
            <p class="grey">{{ t('DOWNLOAD_CV') }}</p>
          </div>
          <div class="w-50 pointer">
            <img src="/assets/img/icons/chat.svg" class="icon">
            <p class="grey">{{ t('CHAT') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
